.blog {
  width: 90%;
  margin: 50px auto;
  // font-size: 16px;

  &__top {
    @include flex(center, center);
    flex-wrap: wrap;

    @include mobile {
      flex-direction: column;
      font-size: 80%;
    }

    & > * {
      flex-basis: 50%;
    }

    &__info {
      @include flex(center, center);
      flex-direction: column; 
      font-size: 1.5rem;

      &__title {
        font-size: 4rem;
      }
      @include mobile {
        margin-bottom: 10px;
      }
    }

    &__right {
      &__des {
        text-align: right;
        padding: 10px;
      }
    }
  }

  &__main {
    &__section {
      @include flex(flex-start, center);
      flex-wrap: wrap;

      &__item {
        width: 50%;
        padding: 0.5rem;

        @include tablet {
          padding: 1rem;
        }

        @include mobile {
          width: 100%;
        }
        
        &:nth-child(2), &:nth-child(3) {
          padding: 5rem;
          text-align: center;

          @include tablet {
            padding: 4rem;
          }

          @include mobile {
            padding: unset;
          }
        }
      }
    }
  }
}