$main-bg: #fff;
$main-color: #000;

$txt-main-bg: #000;
$txt-white: #fff;
$txt-danger: rgb(255, 0, 0);

$btn-main-bg: $main-bg;
$btn-main-color: #000;

$header-height: 94px;

$mobile-width: 600px;
$tablet-width: 1024px;
